[Unit]
Description=Get bits from random.org
After=network.target

[Service]
Type=simple
User=root
ExecStart=/etc/rand/getrand.random.org.sh

ProtectHome=true
ProtectKernelLogs=true

MemoryAccounting=true
IOAccounting=true
IPAccounting=true

CPUSchedulingPolicy=idle
IOSchedulingClass=best-effort

[Install]
WantedBy=multi-user.target

