[Unit]
Description=Cleanup old snapshots in /mnt/hdd/restic.
Wants=restic-cleanup.timer

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bash /etc/restic/cleanup.sh

CPUSchedulingPolicy=batch
MemoryHigh=10G
Nice=10

CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes


[Install]
WantedBy=multi-user.target

